<div class="dark-background row p-5 footer">
  <div class="col-md4 mx-auto">
    <h2> Room Service Request </h2>
    <form>
      <div class="form-row">
        <div class="form-group ">
          <input type="text" class="form-control" id="inputEmail4" placeholder="Name">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group ">
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group ">
          <input type="text" class="form-control" id="inputEmail4" placeholder="Subject">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group ">
          <input type="text" class="form-control" id="inputEmail4" placeholder="Note">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">SUBMIT</button>
    </form>
  </div>

</div>