<div class="mx-auto">
  <div class="jumbotron container-fluid">
    <h1 class="text-center">Inventory & Supplies</h1>
  </div>
  <div class="d-flex flex-wrap align-content-start">
    <div *ngFor="let supply of supplies" class="m-1">
      <app-supplies-card></app-supplies-card>
    </div>
    <div class="m-1">
      <app-supplies-card></app-supplies-card>
    </div>
    <div class="m-1">
      <app-supplies-card></app-supplies-card>
    </div>
    <div class="m-1">
      <app-supplies-card></app-supplies-card>
    </div>

  </div>
</div>
