<div class="card supplies-card">
  <div class="card-body">
    <p class="text-right pb-2 mr-2"><span class="badge badge-info p-2">Type</span></p>
    <div class="p-2 supplies-stats-div">
        <h5 class="text-secondary pb-2 border-bottom">Inventory name</h5>
        <div class="bg-light rounded mb-2">
          <ul>
            <li>Cost : 123</li>
            <li>Price: 400</li>
          </ul>
        </div>
        <button type="button" class="border-top btn btn-warning btn-sm text-right">
            Quantity <span class="badge badge-light">4</span>
          </button>
    </div>
  </div>
</div>

<!-- 
  price per  unit
  quantity
  supply name
-->