<div class="card supplies-card">
  <div class="card-body">
    <div class="p-2 supplies-stats-div">
        <h5 class="text-secondary pb-2 border-bottom">Inventory name</h5>
        <button type="button" class="border-top btn btn-info btn-sm text-right mr-2">
            Cost per unit <span class="ml-3 badge badge-light">4</span>
          </button>
        <button type="button" class="btn btn-warning btn-sm text-right">
            Quantity <span class="ml-3 badge badge-light">4</span>
          </button>
    </div>
  </div>
</div>

<!-- 
  price per  unit
  quantity
  supply name
-->