<div class="card room-card" style="width:300px;">
  <div class="card-body bg-light">
      <h5 class="text-left m-1 d-inline float-left">Room: <span class="text-muted">{{roomNum}}</span> </h5> <span class="d-inline float-right badge badge-warning">{{type}}</span>
  </div>
  <div class="card-body p-0">
    <div class="p-2">
      <h5 class="card-title text-center border-bottom pb-2">COST: {{cost}}</h5>
      <p class="text-left">
        <span class="text-secondary border-bottom">Capacity</span>
        <br>
        {{capacity}} People
        <br>
        <span class="text-secondary border-bottom">Anything Extra</span>
        <br>
        Some stats
      </p>
      <button (click)="openBook()" class="btn btn-primary btn-sm d-block mx-auto px-5">Book</button>
    </div>
  </div>
</div>