<div class="card order-card">
  <div class="card-body">
    <div class="d-block">
      <p class="d-inline text-secondary text-right pb-2 mr-2 float-right">{{timeStamp}}</p>
      <div class="p-0 order-stats-div d-inline float-left">
          <ul class="list-group">
            <li class="list-group-item bg-primary text-white">Room number : {{roomNum}}</li>
            <li class="list-group-item bg-light">Order number : {{orderNum}}</li>
          </ul>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="d-block float-left text-center">
      <ul class="mx-auto text-center">
        <li>Paneer Makkani x 4</li>
        <li>Paneer Makkani x 4</li>
        <li>Paneer Makkani x 4</li>
      </ul>
    </div>
  </div>
</div>