<div class="card container mx-auto my-3" style="width:30vw; min-width: 280px;">
    <h3 class="card-header text-center mx-0">Booking Details</h3>
  <form class="card-body">
    <div class="form-group">
      <label for="cust_name">Customer Name</label>
      <input class="form-control" type="text" name="cust_name" id="cust_name" [ngModel] = "username">
    </div>
    <div class="form-group">
      <label for="payment_method">Mode Of Payment</label>
      <input class="form-control" type="text" name="payment_method" id="payment_method" placeholder="Credit Card, Cash, Online, etc..." [ngModel] = "paymentMethod">
    </div>
    <button (click)="book()" class="btn btn-success d-block btn-lg px-4 mx-auto">Confirm Booking</button>
  </form>
</div>