<div class="row">
  <div class="col-md-6">
    <h2> Food Order </h2>
    <form class="card">
      <div class="form-group card-header">
          <input type="text" class="form-control m-2" name="roomNo" style="width:150px;" [(ngModel)]="roomNo" placeholder="Room Number">
      </div>
      <div class="card-body">
        <div id="orders" class="bg-light p-2" style="height:150px; overflow-y:scroll;">
          <div class="form-group">
              <input type="email" class="form-control d-inline" style="width:250px;" name="dishName" [(ngModel)]="dishName" placeholder="Dish Name"><span class="badge badge-info mx-2">X</span>
              <input type="text" class="form-control d-inline" style="width:150px;" name="quantity" [(ngModel)]="quantity" placeholder="Quantity">
          </div>
          <div class="form-group">
              <input type="email" class="form-control d-inline" style="width:250px;" name="dishName" [(ngModel)]="dishName" placeholder="Dish Name"><span class="badge badge-info mx-2">X</span>
              <input type="text" class="form-control d-inline" style="width:150px;" name="quantity" [(ngModel)]="quantity" placeholder="Quantity">
          </div>
          <div class="form-group">
              <input type="email" class="form-control d-inline" style="width:250px;" name="dishName" [(ngModel)]="dishName" placeholder="Dish Name"><span class="badge badge-info mx-2">X</span>
              <input type="text" class="form-control d-inline" style="width:150px;" name="quantity" [(ngModel)]="quantity" placeholder="Quantity">
          </div>
        </div>
      </div>
      <div class="container form-group d-block">
        <button class="btn btn-danger rounded float-right ml-2" (click)="removeItem()">-</button>
        <button class="btn btn-success rounded float-right" (click)="addItem()">+</button>
      </div>
      <button (click)="submitOrder()" class="btn btn-primary d-inline mx-auto" style="width:100px;">SUBMIT</button>
    </form>
  </div>
  <div class="col-md-6">
    <h3>List of orders</h3>
    <div *ngFor="let order of orders">
      <app-restaurant-card></app-restaurant-card>
    </div>
    <div>
      <app-restaurant-card [timeStamp]="time" [roomNum]="room" [orderNum]="orderNumber" ></app-restaurant-card>
    </div>
  </div>
</div>

