<div class="card employee-card">
  <div class="card-body p-0">
    <img class="card-img-top" src="assets/images/employee_avatar.png" alt="Employee image">
    <div class="p-2">
      <h5 class="card-title text-center border-bottom pb-2">{{name}}</h5>
      <p class="card-text text-right mr-3 mb-1"><span class="rounded badge badge-primary">{{post}}</span></p>
      <p class="text-center">
        <span class="text-secondary border-bottom">Email</span>
        <br>
        {{email}}
        <br>
        <span class="text-secondary border-bottom">Phone</span>
        <br>
        {{phone}}
      </p>
    </div>
  </div>
</div>