<div>
  <div class="row container-fluid">
    <div class="col-md-3 p-2">
      <div class="form-group">
        <label for="fromDay">Check-in Date</label>
        <input class="form-control" [(ngModel)]="fromDate" name="fromDay" placeholder="DD/MM/YYYY">
      </div>
    </div>
    <div class="col-md-3 p-2">
      <div class="form-group">
        <label for="endDay">Check-out Date</label>
        <input class="form-control" [(ngModel)]="endDate" name="endDay" placeholder="DD/MM/YYYY">
      </div>
    </div>
    <div class="col-md-3 p-2">
      <div class="form-group">
        <label for="roomType">Room Type</label>
        <input class="form-control" [(ngModel)]="roomType" name="roomType" placeholder="Room Type">
      </div>
    </div>
    <div class="col-md-3 p-2">
      <div class="form-group">
        <br>
        <button class="btn btn-primary px-3 mt-2" (click)="onButtonClick()"><img src="assets/fontsawesome5/svgs/solid/search.svg"
            width="15px" alt="Search" style="color:white;"></button>
      </div>
    </div>
  </div>
</div>
<div class="container d-flex flex-wrap align-content-start">
  <div class="m-1" *ngFor="let room of rooms">
    <app-room-card [cost]="room.default_price" [roomNum]="room.num" [type]="room.type" [capacity]="room.num_ppl"
      [occupied]="room.occcupied" [startDate]="fromDate" [endDate]="endDate"></app-room-card>
  </div>

</div>
<br>
<br>
<br>
<br>